@font-face {
    font-family: "Intro";
    src: url("/assets/fonts/intro-regular/Intro-Regular.eot");
    src: local("Intro-Regular"),
        url("/assets/fonts/intro-regular/Intro-Regular.eot")
            format("embedded-opentype"),
        url("/assets/fonts/intro-regular/Intro-Regular.woff2") format("woff2"),
        url("/assets/fonts/intro-regular/Intro-Regular.woff") format("woff"),
        url("/assets/fonts/intro-regular/Intro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

p {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
}

.text_intro {
    font-family: "Intro";
    font-style: normal;
    font-weight: 400;
    line-height: unset;
}

.text_roboto-slab {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    line-height: 3.556vmin;
    font-size: 2.22vmin;
}

.text_title {
    font-weight: bolder;
    font-size: 6.667vmin;
    line-height: 8vmin;
}

.image {
    max-width: 100%;
}

.header {
    position: fixed;
    top: 0px;
    height: 14.4vmin;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-bottom: 2vmin;
}
.header__logo {
    width: 15rem;
    padding-left: 5.28vmax;
    padding-top: 5.5vmin;
}

.btn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #5222d0;
    color: #ffffff;
    text-decoration: none;
}
.btn__text {
    font-weight: bolder;
    letter-spacing: 0.05em;
}
.header__btn-icon {
    width: 2em;
    margin-top: -0.2em;
    margin-left: 0.5em;
}

.header__btn {
    padding: 1em 1.4em;
    margin-right: 5.28vmax;
    margin-top: 5.5vmin;
    align-self: flex-end;
    justify-self: flex-end;
    font-size: 1.44vmin;
    border-radius: 40% /110%;
}

.nav {
    position: fixed;
    bottom: 0px;
    height: 12.44vmin;
    width: 100vw;
    padding-left: 7.57vmax;
    box-sizing: border-box;
    padding-top: 1.5vmin;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #ffffff;
}
.nav__link {
    text-decoration: none;
    color: #000;
    margin: 0 1.181vmax;
}
.nav__link:hover {
    color: #5222d0;
}

.main {
    display: flex;
    flex-wrap: wrap;
}
.main-page {
    margin-top: 22.89vmin;
    margin-left: 8.056vmax;

    display: flex;
    flex-direction: column;
}
.main-page__title {
    margin-bottom: 1vmin;
}

.main-page__subtitle {
    margin-bottom: 3vmin;
    padding-right: 15%;
}
.main-page__btn {
    font-size: 3.89vmin;
    line-height: 3.89vmin;
    align-self: flex-start;
    padding: 0.6em 1em;
    border-radius: 30% /110%;
}
.main-page__btn-icon {
    margin-left: 0.5em;
    width: 1em;
}
.art {
    margin-top: 14.22vmin;
}

.about {
    margin-bottom: 12.44vmin;
}
.about__title {
    margin-left: 8.68vmax;
    margin-bottom: 1vmin;
}
.card {
    margin-left: 6.25vmax;
    margin-right: 2.78vmax;
    display: flex;
}

.card__item-container {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card__img {
    padding-bottom: 2vmin;
}
.card__title {
    font-weight: bolder;
    font-size: 3.33vmin;
    line-height: 4vmin;
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
}
.card__email {
    opacity: 1;
    color: #000;
}

.card__item_pink {
    background-color: #ec615b;
    color: #ffffff;
    height: fit-content;
    padding-bottom: 6vmin;
}

.card__btn {
    padding: 1rem 1.4rem;
    align-self: flex-start;
    font-size: 1.44vmin;
    border-radius: 40% /110%;
}

@media screen and (max-width: 767px) {
    .text_title {
        font-size: 6.667vmin;
    }
    .text_roboto-slab {
        font-size: 2.22vmax;
        line-height: unset;
    }
    .card__title {
        font-size: 2.53vmax;
        padding-top: 2vmin;
        line-height: unset;
    }
    .header__logo {
        padding-left: 0;
    }
    .header__btn {
        font-size: 1.64vmax;
        padding-right: 2em;
    }
    .nav {
        padding: 4vw 2vw;
        height: fit-content;
    }
    .about__title {
        margin-top: 2vmin;
    }
    .card {
        flex-direction: column;
        margin-left: calc(4vmax - 1.5vw);
    }
    .card__img {
        padding-top: 3vmin;
    }
    .card__item {
        margin-top: 2vmin;
        margin-bottom: 2vmin;
    }
    .card__btn {
        font-size: unset;
    }
    .main-page {
        margin-left: 4vmax;
    }
    .art__image {
        margin: auto;
    }
    .about__title {
        margin-left: 4vmax;
    }
    .main-page__btn-icon {
        width: 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    .main-page {
        flex: 1 0 40vw;
        width: 40vw;
    }
    .card__img {
        padding-top: 2vh;
    }
    .card__desc {
        margin-bottom: 2vh;
    }
}

@media screen and (min-width: 768px) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1547px) and (min-width: 1024px) {
    .art {
        max-width: 40%;
    }
    .about__title {
        margin-top: 2vmin;
    }
}
@media screen and (max-width: 1023px) {
    .art {
        margin-top: 1vmin;
        display: flex;
        justify-content: center;
    }
    .art__image {
        width: 70%;
    }
    .card__btn {
        margin: 2vmin 0;
    }
    .card__item_pink {
        height: fit-content;
    }
}
